---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  namespace: customerns
  labels:
    app: customer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
      - name: customer
        image: 004671524651.dkr.ecr.us-east-1.amazonaws.com/kubernetes-github-actionss:a6c23edc
        ports:
        - containerPort: 3000
          name: customer
