---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: kubernetes-github-actions
  labels:
    app: website
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: 004671524651.dkr.ecr.us-east-1.amazonaws.com/kubernetes-github-actions:latest
        ports:
        - containerPort: 3000
          name: website
